* {
    box-sizing: border-box;
}

.App {
    background-color: #ededed;
    min-height: 100vh;
}

.header {
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: purple;
    color: white;
    font-size: 18px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.card {
    background-color: white;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    border-radius: 5px;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.card img {
    width: 250px;
    height: 300px;
    object-fit: contain;
    background-position: top;
    margin: 0 auto;
}

.card p {
    font-size: 16px;
    color: darkgray;
}
